.counter{

    text-align: center;
    align-items:  center; 
    padding-top: 35vh;
    font-size: xx-large
}

main{
    margin: 10px;
}

footer{
    color: white;
    text-decoration:none;
}

footer a{
    color: inherit;
}

.smallText{
    font-size: small;
    color: gray;
    padding-top: 5px;
    padding-bottom: 5px;
}